[Unit]
Description=libpostal
After=network.target

[Service]
ExecStart=/home/tim/pelias/go-whosonfirst-libpostal/bin/wof-libpostal-server
User=tim
WorkingDirectory=/home/tim/pelias
Restart=Always

[Install]
WantedBy=multi-user.target
